	




<div style="width:100%; height:4rem;position:absolute">



  <ul style="line-height:4rem;font-family:'Lucida Console', Monaco, monospace; font-size:14px;float:right;margin:0;">
    <li class="logo" routerLink="/">
      Photography app
    </li>
   
    <li routerLink="/photos" class="menu--item  menu--btn-photos">Photos</li>
    <li routerLink="/about" class="menu--item  menu--btn-about">About</li>
    <li routerLink="/contact" class="menu--item  menu--btn-contact">Contact</li>
  </ul>


</div>
