.photo--options {
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 12px;
  font-family: 'CormorantGaramond-Medium'; //elli tuto nemusi byt bodkociarka
}

.photo--info {
  position: absolute;
  top: 1rem;
  left: 2rem;
  font-size: 12px;
  font-family: 'CormorantGaramond-Medium' //elli tuto moze byt bodkociarka
}
