<!-- Header -->
<div style="text-align:center;font-size:20px; font-weight:bold;">Photos</div>
<!-- Loader -->
<div *ngIf="isLoading" style="text-align:center;background:#eaeaea; margin:3rem;padding:2rem;"> Loading Photos ...</div>
<div *ngIf="isError" style="text-align:center;background:#ff0000; margin:3rem;padding:2rem;"> DB Error </div>





<!--Form-->
<div class="row col-sm-12" style="margin-left:2rem;margin-bottom:2rem;">



  <form [formGroup]="testForm">
    <p>
      {{helpfulEditId}}
    </p>
    <label>Title</label>
    <input class="form-control" formControlName="title" />

    <label>Photo Url</label>
    <input class="form-control" formControlName="url" style="width:40rem" />

    <button *ngIf="!isUpdate" type="submit" (click)="onSubmit()"> Create </button>

    <button *ngIf="isUpdate" type="submit" (click)="onUpdate(helpfulEditId)"> Update </button>

    <button *ngIf="isUpdate" (click)="onCancel()"> X </button>

  </form>
</div>


<!--ToDo: Pridat kategorie + funkcia zoradovanie podla kategorii (iba zeby ste mali lepsi napad) -->
<!--ToDo: velkost fotky, rovnake zarovanie na kazdu fotku -->
<!-- Photos -->

<div class="row">





  <div *ngFor="let item of items" style="height:15rem;" class="col-sm-6">
    <div style="background:#eaeaea;padding:1rem;">
      <img style="width:10rem;" [src]="item.url" />
      <div style="">
        <p style="font-weight:bold">Title :  {{item.title}}</p>

        <p style="color:#888;">ID : {{item._id}}</p>

        <button (click)="onDelete(item._id)">Delete</button>


        <button type="submit" (click)="onEdit(item)"> Update </button>

      </div>

    </div>

  </div>

  <div class="row col-sm-12" style="display:inline-block;text-align:center;padding:2rem;">

  </div>
</div>

